@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/*
font-family: 'Do Hyeon', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/
body {
  font-family: "Noto Sans KR", sans-serif;
}

.font-doyeon {
  font-family: "Do Hyeon", sans-serif;
}
